<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.engine.transaction.internal.TransactionImpl" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    <logger name="org.jooq" level="OFF"/>
    <logger name="com.soon83" level="DEBUG"/>
</configuration>
