{{#skipFormatter}}
    <!-- @formatter:off -->
{{/skipFormatter}}
package {{packageGroupName}}.{{moduleCoreInfrastructure}}.{{entityNameLower}};

import {{packageGroupName}}.{{moduleCoreEntities}}.{{entityNameLower}}.{{entityName}};
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;

@Slf4j
@Component
@RequiredArgsConstructor
public class {{entityName}}Store {
    private final {{entityName}}Repository {{entityNameLower}}Repository;

    public {{entityName}} create({{entityName}} {{entityNameLower}}) {
        return {{entityNameLower}}Repository.save({{entityNameLower}});
    }

    public void delete({{entityName}} {{entityNameLower}}) {
        if ({{entityNameLower}} != null) {
            {{entityNameLower}}Repository.delete({{entityNameLower}});
        }
    }
}
