{{#skipFormatter}}
    <!-- @formatter:off -->
{{/skipFormatter}}
package {{packageGroupName}}.{{moduleCommonDtos}}.{{entityNameLower}};

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.ToString;

import java.util.List;

@Getter
@ToString
@AllArgsConstructor
public class {{entityName}}BulkUpdateCommand {
    private final List<{{entityName}}UpdateCommand> commandList;
}
